In [41]:
# Exercise 1
import numpy as np
import pandas as pd
from sklearn import preprocessing
# for Box-Cox Transformation
from scipy import stats
# Create Test Data movie gendres
data = {'Movie Title':  ['California Man', 'He is not reall into dudes', 'Beautiful Woman', 'Kevin Longblade', 'Robo Slayer 3000', 'Amped', '?'],
        '# of kicks': [3, 2, 1, 101, 99, 98, 18],'# of kisses': [104, 100, 81, 10, 5, 2, 90], 
        'type of movie': ['Romance', 'Romance', 'Romance', 'Action', 'Action', 'Action', '?']}
df = pd.DataFrame(data)

In [42]:
# funct: You normalize your data in another tabl
def normalize(data):
    return stats.boxcox(data)   

# normalize kicks
kicks_normlized = normalize(data['# of kicks'])
# normalize kisses
kisses_normlized = normalize(data['# of kisses'])

df_normalized = pd.DataFrame({'Movie Title': data['Movie Title'], 'kicks': kicks_normlized[0], 'kisses': kisses_normlized[0], 'type of movie': data['type of movie']})
df_normalized

                  Movie Title     kicks     kisses type of movie
0              California Man  1.148810  11.881328       Romance
1  He is not reall into dudes  0.712910  11.677453       Romance
2             Beautiful Woman  0.000000  10.629573       Romance
3             Kevin Longblade  5.592510   3.568924        Action
4            Robo Slayer 3000  5.563501   2.173552        Action
5                       Amped  5.548795   0.786273        Action
6                           ?  3.255471  11.143677             ?

In [92]:
# funct: You code a simple euclid distance function
def distance(point_1, point_2):
    return np.sqrt((point_1[0] - point_2[0]) ** 2+ (point_1[1] - point_2[1]) ** 2)

# funct: You take a point and calculate the distance to all points
point = df_normalized.loc[6]
dis = [[],[],[],[],[], []]
for index, row in df.iterrows():
    if (index < 6):
        dis[index] = [df_normalized['Movie Title'][index], distance([df_normalized['kicks'][index], df_normalized['kisses'][index]], [point.kicks, point.kisses]), df_normalized['type of movie'][index]]
        
dis

[['California Man', 2.23207325890133, 'Romance'],
 ['He is not reall into dudes', 2.5979865684772445, 'Romance'],
 ['Beautiful Woman', 3.2958147605346393, 'Romance'],
 ['Kevin Longblade', 7.927082134217428, 'Action'],
 ['Robo Slayer 3000', 9.262296311086196, 'Action'],
 ['Amped', 10.608257981276099, 'Action']]

In [93]:
from operator import itemgetter
sorted(dis, key=itemgetter(1))

[['California Man', 2.23207325890133, 'Romance'],
 ['He is not reall into dudes', 2.5979865684772445, 'Romance'],
 ['Beautiful Woman', 3.2958147605346393, 'Romance'],
 ['Kevin Longblade', 7.927082134217428, 'Action'],
 ['Robo Slayer 3000', 9.262296311086196, 'Action'],
 ['Amped', 10.608257981276099, 'Action']]

In [100]:
# funct: You aggregate by target variable
k = 3
count_r = 0
count_a = 0

for x in dis[0:k]:
    if (x[2] == 'Romance'):
        count_r += 1
    else:
        count_a += 1
        
if (count_r >= count_a):
    print('is romance')
else:
    print('is action')

is romance

In [101]:
# funct: you take the max to determine the targe class
count_r = 0
count_a = 0

for x in dis:
    if (x[2] == 'Romance'):
        count_r += 1
    else:
        count_a += 1
        
if (count_r >= count_a):
    print('is romance')
else:
    print('is action')

is romance